@model FanclubJuventus.Models.Post

@{
    ViewBag.Title = "Create";
}
<br /><br />
<h2>Create</h2>

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>


        Write a title <input type="text" name="Title"><br /><br />
        Write a header <textarea type="text" name="Header"></textarea><br /><br />
        Write Content <textarea rows="4" cols="50" name="Content"></textarea><br /><br />
        <div class="form-group">
            @Html.LabelFor(model => model.Image, "Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="plikZObrazkiem" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>
        Now time <input type="datetime" value="@ViewBag.postDate" name="PostDate" /> <br /><br />
        <input type="submit" value="Create" /><br /><br />

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
